*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    background-image: linear-gradient(100deg, #575656, #062e3f);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#container{
    background-color: #ffffff;
    border: 0.5px solid #aea9e5;
    box-shadow: 0px 0px 3px grey;
    border-radius: 4px 0px 0px 4px;
    width: 350px;
    height: 30px;
    position:relative;
    top: 25px;
    display: flex;
    
}
#container input{
    width: 80%;
    height: 100%;
    padding: 4px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 4px 0px 0px 4px;
}
#container button{
    height: 100%;
    width: 20%;
    background-color: #aea9e5;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
#task-container{
    width: 350px;
}
#task-container ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
#task-container ul li{
    height: 30px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 15px;
    border: 0.1px solid green; 
    font-size: 18px; 
    padding: 4px; 
    transition: all 0.3s linear; 
}
#task-container ul li:hover{
    background-color: #e1e1e1;
}
#task-container ul li p{
    flex-basis: 75%;
    overflow: hidden;
}
#task-container ul li button:nth-child(2){
border: none;
background-color: transparent;
color: #2c2cce;
font-size: 12px;
font-weight: 400;
}
#task-container ul li button:nth-child(3){
    border: none;
    background-color: transparent;
    color: red;
    font-size: 12px;
    font-weight: 400;
    }